@using Umbraco.Cms.Core.Models;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<div class="bg-theme position-relative">
    <div class="container z-3">
        <div class="d-flex justify-content-between align-items-center z-3">
            <div>
                <h1 class="fs-1 weight-bold landing-title">@Model.Value("landingTitle")</h1>
                <p class="mb-5">@Model.Value("landingSlogan")</p>
                <button class="btn-theme z-3" href="@Model.Value("landingButtonUrl")">@Model.Value("landingButtonTitle")<i class="fa-solid fa-square-arrow-up-right ms-2"></i></button>
                <button class="btn-theme-sec z-3" href="@Model.Value("landingButtonUrl2")">@Model.Value("landingButtonTitle2")<i class="fa-solid fa-square-arrow-up-right ms-2"></i></button>
            </div>

            @{
                var landingImage = Model.Value<MediaWithCrops>("landingImage")!;
                if (landingImage != null)
                {
                    <img src="@landingImage.MediaUrl()" alt="@Model.Value("landingTitle")" />
                }
            }
        </div>
    </div>
    <img class="landing-img " src="~/Imgs/Vectors/vector-landing.svg" alt="Stylish lines">
</div>

