@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.PageWithArticles>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models.PublishedContent;
@{
	Layout = "_Layout.cshtml";
	var selection = Umbraco.Content(Guid.Parse("396b1442-593b-48bf-82e7-72acb785dec3"))
    .ChildrenOfType("articleDoc")
    .Where(x => x.IsVisible());
}


@await Html.PartialAsync("_Nav")
@await Html.PartialAsync("_breadcrumb")

<div class="container">
    @if (selection != null)
    {
        <div class="row">
            @foreach (var item in selection)
            {
                var img = item.Value<IPublishedContent>("articleImage");


                <div class="col">
                    <a class=position-relative href="@item.Url()">
                        <div class="position-absolulte top-0 start-0 p-2 m-2">
                            <p>@item.CreateDate.ToString("dd")</p>
                            <p>@item.CreateDate.ToString("MMM")</p>
                        </div>
                        <img src="@img?.Url()" alt="@item.Name()" />
                        <p class="font-inter text-opacity-75">@item.Value("articleCategory")</p>
                        <h4 class="weight-bold fs-4">@item.Name()</h4>
                        <p class="font-inter text-opacity-75">@item.Value("articleIntro")</p>
                    </a>
                </div>
            }
        </div>

    }
    else
    {
        <h1 class="text-center">No Articles yet.</h1>
    }
</div>


@await Html.PartialAsync("_Footer")
